.grid{

    background-color:rgba(189, 188, 188, 0.212);
    min-height: 50vh;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-between;
 &>*{
    width: 100%;
    max-width: 19rem;
 }
 
}


@media screen and (width <= 768px) {
 
.grid{ 
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &>*{
        width: 100%;
        max-width:100%;
     }
}
 
}
    

    

