.descpanel {
    margin-bottom: 1rem;
    p{
        margin-block: 0;
    }
    .desc-header{
       background-color: #ff6060;
        color: white  ;
        padding: 0.2em 1rem ;
        border-radius: 0.7rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i{
            font-size: 2rem;
            cursor: pointer;
        }
    }
   .desc-content{
    background-color: rgba(153, 151, 151, 0.247);
    color: #ff6060;
    padding: 1rem;
    border-radius: 0.7rem;
    position: relative ;
    top: -0.3rem;
    z-index: -1;
    
    
   }
}
